$hex-margin-overlap-multiplier: .11;
$hex-size: 60px;
$hex-side-multiplier: .57735;
$hex-spacing: 4px;
$hex-value-size: 30px;
$hex-value-font-size: 14px;

$phone: 320px;

$tablet: 768px;
$hex-font-size-tablet: 45%;
$hex-size-tablet: 100px;
$hex-spacing-tablet: 4px;
$hex-value-size-tablet: 50px;
$hex-value-font-size-tablet: 18px;

$medium-screen: 992px;
$hex-font-size-medium-screen: 50%;
$hex-size-medium-screen: 100px;
$hex-spacing-medium-screen: 5px;
$hex-value-size-medium-screen: 50px;
$hex-value-font-size-medium-screen: 25px;

$large-screen: 1200px;
$hex-font-size-large-screen: 65%;
$hex-size-large-screen: 120px;
$hex-spacing-large-screen: 5px;
$hex-value-size-large-screen: 60px;
$hex-value-font-size-large-screen: 30px;